<table>
  <tr>
    <td>
      <input
        type="checkbox"
        id="bioChem"
        class="editableFields"
        name="bioChem"
        formControlName="bioChem"
      />
    </td>
    <td>
      <label for="bioChem">Bio-Chemistry</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="hematology"
        class="editableFields"
        name="hematology"
        formControlName="hematology"
      />
    </td>
    <td>
      <label for="hematology">Hemetology</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="viralHept"
        class="editableFields"
        name="viralHept"
        formControlName="viralHept"
      />
    </td>
    <td>
      <label for="viralHept">Viral Hepatitis (Check one only)</label>
    </td>
  </tr>

  <! –– Glucose ––>
  <tr>
    <td>
      <input
        type="checkbox"
        id="glucose"
        name="glucose"
        formControlName="glucose"
      />
    </td>
    <td>
      <label for="glucose">Glucose</label>
      <input
        type="checkbox"
        id="rand"
        name="rand"
        title="Random"
        formControlName="rand"
      />
      <input
        type="checkbox"
        id="fasing"
        name="fasing"
        title="Fasing"
        formControlName="fasing"
      />
    </td>
    <td>
      <input type="checkbox" id="cbc" name="cbc" formControlName="cbc" />
    </td>
    <td>
      <label for="cbc">CBC</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="acuteH"
        name="acuteH"
        formControlName="acuteH"
      />
    </td>
    <td>
      <label for="acuteH">Acute Hepatitis</label>
    </td>
  </tr>

  <! –– HbA1c ––>
  <tr>
    <td>
      <input type="checkbox" id="hbA1c" name="hbA1c" formControlName="hbA1c" />
    </td>
    <td>
      <label for="hbA1c">HbA1C</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="prothrombinTime"
        name="prothrombinTime"
        formControlName="prothrombinTime"
      />
    </td>
    <td>
      <label for="prothrombinTime">Prothrombin time (INR)</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="chronicH"
        name="chronicH"
        formControlName="chronicH"
      />
    </td>
    <td>
      <label for="chronicH">Chronic Hepetitis</label>
    </td>
  </tr>

  <! –– creatinine (eGFR) ––>
  <tr>
    <td>
      <input
        type="checkbox"
        id="creatinine"
        name="creatinine"
        formControlName="creatinine"
      />
    </td>
    <td>
      <label for="creatinine">Creatinine (eGFR)</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="immunology"
        name="prothrombinTime"
        formControlName="prothrombinTime"
      />
    </td>
    <td>
      <label for="prothrombinTime">Prothrombin time (INR)</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="chronicH"
        name="chronicH"
        formControlName="chronicH"
      />
    </td>
    <td>
      <label for="chronicH">Chronic Hepetitis</label>
    </td>
  </tr>

  <! –– Uric Acid ––>
  <tr>
    <td>
      <input type="checkbox" id="hbA1c" name="hbA1c" formControlName="hbA1c" />
    </td>
    <td>
      <label for="hbA1c">HbA1C</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="prothrombinTime"
        name="prothrombinTime"
        formControlName="prothrombinTime"
      />
    </td>
    <td>
      <label for="prothrombinTime">Prothrombin time (INR)</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="chronicH"
        name="chronicH"
        formControlName="chronicH"
      />
    </td>
    <td>
      <label for="chronicH">Chronic Hepetitis</label>
    </td>
  </tr>

  <! –– Sodium ––>
  <tr>
    <td>
      <input type="checkbox" id="hbA1c" name="hbA1c" formControlName="hbA1c" />
    </td>
    <td>
      <label for="hbA1c">HbA1C</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="prothrombinTime"
        name="prothrombinTime"
        formControlName="prothrombinTime"
      />
    </td>
    <td>
      <label for="prothrombinTime">Prothrombin time (INR)</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="chronicH"
        name="chronicH"
        formControlName="chronicH"
      />
    </td>
    <td>
      <label for="chronicH">Chronic Hepetitis</label>
    </td>
  </tr>

  <! –– Potassium ––>
  <tr>
    <td>
      <input type="checkbox" id="hbA1c" name="hbA1c" formControlName="hbA1c" />
    </td>
    <td>
      <label for="hbA1c">HbA1C</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="prothrombinTime"
        name="prothrombinTime"
        formControlName="prothrombinTime"
      />
    </td>
    <td>
      <label for="prothrombinTime">Prothrombin time (INR)</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="chronicH"
        name="chronicH"
        formControlName="chronicH"
      />
    </td>
    <td>
      <label for="chronicH">Chronic Hepetitis</label>
    </td>
  </tr>

  <! –– AL T––>
  <tr>
    <td>
      <input type="checkbox" id="hbA1c" name="hbA1c" formControlName="hbA1c" />
    </td>
    <td>
      <label for="hbA1c">HbA1C</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="prothrombinTime"
        name="prothrombinTime"
        formControlName="prothrombinTime"
      />
    </td>
    <td>
      <label for="prothrombinTime">Prothrombin time (INR)</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="chronicH"
        name="chronicH"
        formControlName="chronicH"
      />
    </td>
    <td>
      <label for="chronicH">Chronic Hepetitis</label>
    </td>
  </tr>

  <! –– HbA1c ––>
  <tr>
    <td>
      <input type="checkbox" id="hbA1c" name="hbA1c" formControlName="hbA1c" />
    </td>
    <td>
      <label for="hbA1c">HbA1C</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="prothrombinTime"
        name="prothrombinTime"
        formControlName="prothrombinTime"
      />
    </td>
    <td>
      <label for="prothrombinTime">Prothrombin time (INR)</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="chronicH"
        name="chronicH"
        formControlName="chronicH"
      />
    </td>
    <td>
      <label for="chronicH">Chronic Hepetitis</label>
    </td>
  </tr>

  <! –– bilarubin ––>
  <tr>
    <td>
      <input type="checkbox" id="hbA1c" name="hbA1c" formControlName="hbA1c" />
    </td>
    <td>
      <label for="hbA1c">HbA1C</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="prothrombinTime"
        name="prothrombinTime"
        formControlName="prothrombinTime"
      />
    </td>
    <td>
      <label for="prothrombinTime">Prothrombin time (INR)</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="chronicH"
        name="chronicH"
        formControlName="chronicH"
      />
    </td>
    <td>
      <label for="chronicH">Chronic Hepetitis</label>
    </td>
  </tr>

  <! –– Albumin ––>
  <tr>
    <td>
      <input type="checkbox" id="hbA1c" name="hbA1c" formControlName="hbA1c" />
    </td>
    <td>
      <label for="hbA1c">HbA1C</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="prothrombinTime"
        name="prothrombinTime"
        formControlName="prothrombinTime"
      />
    </td>
    <td>
      <label for="prothrombinTime">Prothrombin time (INR)</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="chronicH"
        name="chronicH"
        formControlName="chronicH"
      />
    </td>
    <td>
      <label for="chronicH">Chronic Hepetitis</label>
    </td>
  </tr>

  <! –– Albumin /createnine ratio ,urine––>
  <tr>
    <td>
      <input type="checkbox" id="hbA1c" name="hbA1c" formControlName="hbA1c" />
    </td>
    <td>
      <label for="hbA1c">HbA1C</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="prothrombinTime"
        name="prothrombinTime"
        formControlName="prothrombinTime"
      />
    </td>
    <td>
      <label for="prothrombinTime">Prothrombin time (INR)</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="chronicH"
        name="chronicH"
        formControlName="chronicH"
      />
    </td>
    <td>
      <label for="chronicH">Chronic Hepetitis</label>
    </td>
  </tr>

  <! –– urinalysis ––>
  <tr>
    <td>
      <input type="checkbox" id="hbA1c" name="hbA1c" formControlName="hbA1c" />
    </td>
    <td>
      <label for="hbA1c">HbA1C</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="prothrombinTime"
        name="prothrombinTime"
        formControlName="prothrombinTime"
      />
    </td>
    <td>
      <label for="prothrombinTime">Prothrombin time (INR)</label>
    </td>
    <td>
      <input
        type="checkbox"
        id="chronicH"
        name="chronicH"
        formControlName="chronicH"
      />
    </td>
    <td>
      <label for="chronicH">Chronic Hepetitis</label>
    </td>
  </tr>

  <! –– Pations 24 Hrs Teliphone no.  ––>
  <tr style="border: 1px solid black; border-collapse: collapse">
    <td style="border: 1px solid black; border-collapse: collapse">
      <input
        type="checkbox"
        id="pations24hrsteliphoneno."
        name="pations24hrsteliphoneno"
        formControlName="pations24hrsteliphoneno"
      />
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <label for="pations24horsteliphoneno">Pations 24 Hrs Teliphone no.</label>
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <input
        type="checkbox"
        id="prothrombinTime"
        name="prothrombinTime"
        formControlName="prothrombinTime"
      />
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <label for="prothrombinTime">Prothrombin time (INR)</label>
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <input
        type="checkbox"
        id="chronicH"
        name="chronicH"
        formControlName="chronicH"
      />
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <label for="chronicH">Chronic Hepetitis</label>
    </td>
  </tr>

  <! –– Therapeutic Drug Monitering ––>
  <tr style="border: 1px solid black; border-collapse: collapse">
    <td style="border: 1px solid black; border-collapse: collapse">
      <input
        type="checkbox"
        id="theraputicdrugmonitering"
        name="theraputicdrugmonitering"
        formControlName="theraputicdrugmonitering"
      />
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <label for="theraputicdrugmonitering">Therapeutic Drug Monitering</label>
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <input
        type="checkbox"
        id="prothrombinTime"
        name="prothrombinTime"
        formControlName="prothrombinTime"
      />
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <label for="prothrombinTime">Prothrombin time (INR)</label>
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <input
        type="checkbox"
        id="chronicH"
        name="chronicH"
        formControlName="chronicH"
      />
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <label for="chronicH">Chronic Hepetitis</label>
    </td>
  </tr>

  <! –– Name Of Drug #1 ––>
  <tr style="border: 1px solid black; border-collapse: collapse">
    <td style="border: 1px solid black; border-collapse: collapse">
      <input
        type="checkbox"
        id="nameofdrug"
        name="nameofdrug"
        formControlName="nameofdrug"
      />
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <label for="nameofdrug">Name Of Drug #1</label>
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <input
        type="checkbox"
        id="prothrombinTime"
        name="prothrombinTime"
        formControlName="prothrombinTime"
      />
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <label for="prothrombinTime">Prothrombin time (INR)</label>
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <input
        type="checkbox"
        id="chronicH"
        name="chronicH"
        formControlName="chronicH"
      />
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <label for="chronicH">Chronic Hepetitis</label>
    </td>
  </tr>

  <! –– Name Of Drug #2 ––>
  <tr style="border: 1px solid black; border-collapse: collapse">
    <td style="border: 1px solid black; border-collapse: collapse">
      <input
        type="checkbox"
        id="nameofdrug"
        name="nameofdrug"
        formControlName="nameofdrug"
      />
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <label for="nameofdrug">Name Of Drug #2</label>
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <input
        type="checkbox"
        id="prothrombinTime"
        name="prothrombinTime"
        formControlName="prothrombinTime"
      />
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <label for="prothrombinTime">Prothrombin time (INR)</label>
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <input
        type="checkbox"
        id="chronicH"
        name="chronicH"
        formControlName="chronicH"
      />
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <label for="chronicH">Chronic Hepetitis</label>
    </td>
  </tr>

  <! –– Time Collected #1––>
  <tr style="border: 1px solid black; border-collapse: collapse">
    <td style="border: 1px solid black; border-collapse: collapse">
      <input
        type="checkbox"
        id="timecollcted"
        name="timecollcted"
        formControlName="timecollcted"
      />
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <label for="timecollcted">Time Collected #1</label>
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <input
        type="checkbox"
        id="prothrombinTime"
        name="prothrombinTime"
        formControlName="prothrombinTime"
      />
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <label for="prothrombinTime">Prothrombin time (INR)</label>
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <input
        type="checkbox"
        id="chronicH"
        name="chronicH"
        formControlName="chronicH"
      />
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <label for="chronicH">Chronic Hepetitis</label>
    </td>
  </tr>

  <! –– Time Of last dose #1 ––>
  <tr style="border: 1px solid black; border-collapse: collapse">
    <td style="border: 1px solid black; border-collapse: collapse">
      <input
        type="checkbox"
        id="timeoflastdose"
        name="timeoflastdose"
        formControlName="timeoflastdose"
      />
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <label for="timeoflastdose">Time Of Last Dose #1</label>
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <input
        type="checkbox"
        id="prothrombinTime"
        name="prothrombinTime"
        formControlName="prothrombinTime"
      />
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <label for="prothrombinTime">Prothrombin time (INR)</label>
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <input
        type="checkbox"
        id="chronicH"
        name="chronicH"
        formControlName="chronicH"
      />
    </td>
    <td style="border: 1px solid black; border-collapse: collapse">
      <label for="chronicH">Chronic Hepetitis</label>
    </td>
  </tr>

  <! –– Time Of next dose #1 ––>
  <tr style="border: 1px solid black; border-collapse: collapse"></tr>
</table>
